<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>orderedItems</key>
	<array>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>APPLICATIONS</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>BOOKMARKS</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>MENU_EXPRESSION</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>CONTACT</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>MENU_CONVERSION</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>MENU_DEFINITION</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>SOURCE</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>DOCUMENTS</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>EVENT_TODO</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>DIRECTORIES</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>FONTS</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>IMAGES</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>MESSAGES</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>MOVIES</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>MUSIC</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>MENU_OTHER</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>PDF</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>PRESENTATIONS</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>MENU_SPOTLIGHT_SUGGESTIONS</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>SPREADSHEETS</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>SYSTEM_PREFS</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>TIPS</string>
		</dict>
	</array>
	<key>version</key>
	<integer>7</integer>
</dict>
</plist>
